<h1>All Users</h1>
<div class="container px-4">
  <div class="row p-2 gx-5"><div class="row gx-5">
    <div class="p-2 col">
      <% @profiles.each do | profile | %>
    <br>
      <div class="card" style="width: 13rem;">
      <%= image_tag profile.user.profile_thumbnail, class: "card-img-top" if profile.user.profile_thumbnail %>
        <div class="card-body">
          <h5 class="card-title"><%= profile.user.email %></h5>
          <p class="card-text"><%= profile.tagline %></p>
          <p class="card-text"><%= profile.interests %></p>
          <a href="#" > <%= link_to "Profile", profile, class: "btn btn-primary"%></a>
        </div>
       </div>
      <% end %>
    </div>
  </div>
</div>

  