<div class="row">
  <div class="col-sm-8">
    <img class="opacity-img" src="https://cdn.pixabay.com/photo/2017/10/26/14/28/welding-2891275_1280.jpg" />
  </div>
  <div class="col-sm-4">
  <h2>PostLintel</h2>
  <p>A place for Community</p>
  <ol>
    <li><p>Create login</p></li>
    <li><p>Create login</p></li>
    <li><p>Create login</p></li>
  </ol>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div>
</div>