<div class="row">
  <div class="col-sm-8">
    <img class="opacity-img" src="https://p1.pxfuel.com/preview/22/837/270/columns-colonnade-classical-architectural-ancient-roman.jpg" />
  </div>
  <div class="col-sm-4"> 
  <br>
    <h1 class="display-1"><u>PostLintel</u></h1> <br>
    <h2>Your place for Community <br>
      <small class="text-muted">Become the leader you are.</small>   <br>
      <small class="text-muted">Build connections.</small>   <br>
      <small class="text-muted">Grow your community today!</small>   <br>
    </h2>
    <br><br><br>
    <% if user_signed_in? %>
      <p> You are logged in.<p>
      <% else %><h2>Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
          </div>
      <% end %>
</div>



