
<div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @event.title %></h5>
        <p class="card-text"><%= @event.location %></p>
        <p class="card-text"><%= @event.description %></p>
        <%= link_to "link", organization_event_path(@event.organization_id, @event.id) %>
        <h1>SIGN UP for event</h1>
            <% if current_user.signups %>
            <%# /organizations/:organization_id/events/:event_id/signups(.:format)%>
            <%# = button_to "Click to Attend", organization_event_signups_path(@event.organization_id, @event.id), method: :post %>
            <% end %>
    <%= form_with(model: @signup, url: organization_event_signups_path(@event.organization_id, @event.id)) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <br>  
    <%= f.submit "Click to Attend" %>
    <br>  
<% end %>
      </div>
    </div>
</div>


