<div class="row ">
  <br>
  <div class="col">
    <br>
    <h1 class="display-6">Details</h1>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @event.title %></h5>
        <p class="card-text"><%= @event.location %></p>
        <p class="card-text"><%= @event.description %></p>
        <%= link_to "link", organization_event_path(@event.organization_id, @event.id) %>
        <p class="card-text"><p><%= @event.likes.count %> <%= (@event.likes.count) == 1 ? 'Like' : 'Likes'%></p>
       <% if @event.likes.where(:user_id => current_user.id) %>
        <p class="card-text"><p><%= button_to 'Like', organization_event_likes_path(@event.organization.id, @event.id), method: :post, params: {:user_id => current_user.id, :status => "true"} %></p>
          <%= button_to 'unlike', organization_event_like_path(@event.organization.id, @event.id), method: :delete, params: {:user_id => current_user.id, :status => "false"} %></p>
        <% end %>
        <%= link_to "delete", organization_event_path(@event.organization_id, @event.id), method: :delete %>
        <%= form_with(model: @signup, url: organization_event_signups_path(@event.organization, @event)) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <br>  
          <%= f.submit "Click to Attend" %>
        <% end %>
        <br>  
      </div>
    </div>
  </div>
  <div class="col">
    <br>
    <h1 class="display-6">Edit</h1>
    <%= render "editform" %>
  </div>
  <div class="col">
    <br>
    <h1 class="display-6">Attendees</h1>
    <br>
      <div class="card" style="width: 8rem;">
        <div class="card-body">
        <% @event.signups.each do | signup | %>
          <a href="<%= profile_path(signup.user_id) %>"><img src="https://www.fairtravel4u.org/wp-content/uploads/2018/06/sample-profile-pic.png" class="rounded-circle img-thumbnail"></a>
          <% end %>
        </div>
        </div>
        <br>
  </div>
  <h1 class="display-6">Comments</h1>
  <% @event.comments.each do | comment | %>
    <br>  
    <div class="card">
      <h5 class="card-header">Author: <%= User.find(comment.user_id).email %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= comment.created_at %></h5>
        <h6 class="card-title">Comment ID: <%= comment.id %></h6>
        <p class="card-text"><%= comment.body %></p>
         <p class="card-text"><p><%= comment.likes.count %> <%= (comment.likes.count) == 1 ? 'Like' : 'Likes'%></p></p>
        <p class="card-text"><p><%= button_to 'Like', organization_event_comment_likes_path(@event.organization, @event.id, comment.id), method: :post, params: {:user_id => current_user.id, :status => "true"} %>
        <p class="card-text"><p><%= button_to 'unlike', organization_event_comment_like_path(@event.organization, @event.id, comment.id), method: :delete, params: {:user_id => current_user.id, :status => "false"} %></p>
        <% if current_user.id == comment.user_id %>
          <%= form_with(model: @event, url: organization_event_comment_path(@event.organization, comment), method: 'delete' ) do |f| %>
          <%= f.submit "Destroy" %>
         <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<%= form_with(model: @comment, url: organization_event_comments_path(@event.organization, @event), method: 'post') do |f| %>
  <%= f.text_area :body %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <br>
  <%= f.submit %>
<% end %>
</div>