 <%= form_for(Organization.new, as: :organization, url: organizations_path, method: :post) do |form| %>
 <div>
    <br>  <h6>Title:</h6><%= form.text_field :title, :required => true %>
    <br>  <h6>Description:</h6><%= form.text_field :description, :required => true %>
    <br>  <h6>Location:</h6><%= form.text_field :location, :required => true %>
    <br>  <h6>Upload photo:</h6> <%= form.file_field :org_photo, :required => true %>
    <br>  <%= form.hidden_field :user_id, :value => current_user.id %>
    <br>
    <%= form.submit "Submit", :class => 'btn-primary btn' %>
<% end %>
</div>