<h1>All Organizations</h1>

<ul>
  <% @organizations.each do | organization | %>
    <li><%= organization.title %> <%= link_to "show", project_path(project) %></li>
  <% end %>
</ul>

<%= form_with model: @organization do |form| %>
  <%= form.text_field :title %>
  <%= form.text_field :description %>
  <%= form.text_field :location %>
  <%= form.text_field :user_id %>
  <%= form.text_field :id %>
  <%= form.submit %>
<% end %>