<div class="row">
  <div class="col">
    <br>
    <h3>
      <%= @organization.title %>
      <br>
      <small class="text-muted"><%= @organization.description %></small>
      <br>
    </h3>
    <br>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><small class="text-muted">Location </small><%= @organization.location %></li>
            <li class="list-group-item"><small class="text-muted">Lead by </small><%= User.find(@organization.user_id).email %></li>
            <li class="list-group-item"><small class="text-muted">Orgnization ID# </small><%= @organization.id %></li>
            <li class="list-group-item"><small class="text-muted">Events: </small><%= link_to "Show events", organization_events_path(params[:id]) %></li>
            <br><%= form_with(model: @follow, url: organization_follows_path(params[:id])) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.submit "Follow", class: "btn btn-primary" %>
          <% end %>
          </li>
        </ul>
    </div>
  </div>
  <% if current_user.id = @organization.user_id %>
    <p> You are part of this organization </p>
    <% else %>
    <p> You are not part of this organization </p>
    <% end %>
  <div class="col">
    <br>
    <h3>
    Create a New Event
    <br>
    <small class="text-muted">Bring it together.</small>
    </h3>
    <br>
    <%= render 'events/form', event: @event %>
  </div>

</div>
  <div class="col">
    <br>
    <h3>
    <%= @organization.title %> Organization
    <br>
    <small class="text-muted">Has <%= @organization.follows.count %> followers</small>
    </h3>
    <br>
  <% @organization.follows.each do |follow| %>
      <div class="card w-10 p-1" style="width: 13rem;">
        <div class="card-body">
          <img src="https://www.fairtravel4u.org/wp-content/uploads/2018/06/sample-profile-pic.png" class="rounded-circle img-thumbnail">
            <h6 class="card-title"> <p><%= User.find(follow.user_id).email %></h6>
        </div>
          </div>
        <br>
      <% end %>
  </div>
</div>
