<div class="row">
  <div class="col">
    <br>
    <h3>
      <%= @organization.title %>
      <br>
      <small class="text-muted"><%= @organization.description %></small>
      <br>
    </h3>
    <br>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><small class="text-muted">Location </small><%= @organization.location %></li>
            <li class="list-group-item"><small class="text-muted">Lead by </small><%= @organization.user_id %></li>
            <li class="list-group-item"><small class="text-muted">Orgnization ID# </small><%= @organization.id %></li>
        </ul>
    </div>
  </div>
  <div class="col">
    <br>
    <h3>
    Create a New Event
    <br>
    <small class="text-muted">Bring it together.</small>
    </h3>
    <br>
    <%= render 'events/form', event: @event %>
  </div>
</div>
  </div>
</div>