<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h3>
        <%= @organization.title %>
        <br>
        <small class="text-muted"><%= @organization.description %></small>
        <br>
      </h3>
      <br>
      <ul class="list-group">
        <%= image_tag @organization.org_thumbnail %>
        <li class="list-group-item"><small class="text-muted">Location </small><%= @organization.location %></li>
        <li class="list-group-item"><small class="text-muted">Lead by </small><%= User.find(@organization.user_id).email %></li>
        <li class="list-group-item"><small class="text-muted">Orgnization ID# </small><%= @organization.id %></li>
        <li class="list-group-item"><small class="text-muted">Events: </small><%= link_to "Show events", organization_events_path(params[:id]) %></li>
        </li>
      </ul>
      <% if current_user.id == @organization.user_id.to_i %>
        <%= render 'editform' %>
      <% end %> 
    </div>
    <% if current_user.id == @organization.user_id.to_i %>
    <div class="col">
      <br>
      <h3>
      Create a New Event
      <br>
      <small class="text-muted">Bring it together.</small>
      </h3>
      <br>
      <%= render 'events/form', event: @event %>
    </div>
    <% end %>
    <div class="col">
      <br>
      <h3>
      <%= @organization.title %> Organization
      <br>
      <small class="text-muted">Has <%= @organization.follows.count %> followers</small>
      </h3>
      <br>
      <% @organization.follows.each do |follow| %>
          <%= image_tag User.find(follow.user_id).profile_thumbnail, class: "rounded-circle img-thumbnail" %>
          <p><%= User.find(follow.user_id).email %></p>
        <% end %>
      <%= form_with(model: @follow, url: organization_follows_path(params[:id])) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "Follow Group", class: "btn btn-primary" %>
      <% end %>
    <br>
    </div>
  </div>
</div>